<% provide(:title, 'Create Referee') %>
<h1>Create a new referee</h1>

<%= form_for @referee do |f| %>
  <%= render 'referee_form', f: f %>
	<%= f.submit 'Create Referee', class: 'btn btn-primary' %>
	<br /><br />
<% end %>